<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/admin/dashboard.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="container">
      <%- include('../partials/sidebar.ejs') %>
      <div class="main-cont">
        <%- include('../partials/navbar.ejs') %>
        <div class="registration">
          <div class="form--container">
            <div class="heading">Add Account</div>
            <form action="" class="forms">
              <input
               
                class="input"
                type="name"
                name="fname"
                id="fname"
                placeholder="Fullname"
              />
              <input
                
                class="input"
                type="username"
                name="username"
                id="username"
                placeholder="Username"
              />
              <input
                
                class="input"
                type="course"
                name="course"
                id="course"
                placeholder="Course"
              />
              <select id="roleSelect" required>
                <option value="" disabled selected>Select Role</option>
                <option value="Staff">Staff</option>
                <option value="Intern">Intern</option>
              </select>
            </form>
            <form action="" class="forms formss">
              <input
               
                class="input"
                type="hours"
                name="hours"
                id="hours"
                placeholder="Hours"
              />
              <input
                
                class="input"
                type="phone"
                name="phone"
                id="phone"
                placeholder="Phone"
              />
              <input
                
                class="input"
                type="password"
                name="password"
                id="password"
                placeholder="Password"
              />
              <button class="btn" id="add-btn">
                <span>Add</span>
              </button>
            </form>
          </div>
        </div>
        <div class="table-container">
          <div class="table">
            <div class="head">
              <div>Fullname</div>
              <div>Username</div>
              <div>Role</div>
              <div>Hours</div>
              <div>Action</div>
            </div>

            <div class="body-container"></div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/js/addAccount.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
</html>
