<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/admin/dashboard.css">
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
</head>
<body>
    <%- include ('../partials/sidebar.ejs') %>
    <div class="main-container">
        <%- include ('../partials/navbar.ejs') %>
        <div class="card-container">
            <div class="wrapper">
                <div class="card light-purple">
                    <div class="title hh"><H3>Total Intern</H3></div>
                    <div class="num"><h1>5</h1></div>
                </div>
                <div class="card light-green">
                    <div class="title hh"><H3>Active</H3></div>
                    <div class="num"><h1>5</h1></div>
                </div>
                <div class="card light-red">
                    <div class="title hh"><H3>Inactive</H3></div>
                    <div class="num"><h1>0</h1></div>
                </div>
                <div class="card light-blue">
                    <div class="title hh"><H3>Outgoing</H3></div>
                    <div class="num"><h1>0</h1></div>
                </div>
            </div>
        </div>
        <div class="table-container">
            <div class="table">
              <div class="head">
                <div>Date</div>
                <div>Fullname</div>
                <div>Status</div>
                <div>Time in</div>
                <div>Time out</div>
                <div>Overtime</div>
              </div>
  
              <div class="body-container">
                <div class="tbody" id="tbody">
                    <div>05/25/2024</div>
                    <div>Jefferson Garcia</div>
                    <div>Present</div>
                    <div>9:00 am</div>
                    <div>5:00 pm</div>
                    <div>0</div>
                  </div>
                  <div class="tbody" id="tbody">
                    <div>05/25/2024</div>
                    <div>Jefferson Garcia</div>
                    <div>Present</div>
                    <div>9:00 am</div>
                    <div>5:00 pm</div>
                    <div>0</div>
                  </div>
                  <div class="tbody" id="tbody">
                    <div>05/25/2024</div>
                    <div>Jefferson Garcia</div>
                    <div>Present</div>
                    <div>9:00 am</div>
                    <div>5:00 pm</div>
                    <div>0</div>
                  </div>
                  <div class="tbody" id="tbody">
                    <div>05/25/2024</div>
                    <div>Jefferson Garcia</div>
                    <div>Present</div>
                    <div>9:00 am</div>
                    <div>5:00 pm</div>
                    <div>0</div>
                  </div>
                  <div class="tbody" id="tbody">
                    <div>05/25/2024</div>
                    <div>Jefferson Garcia</div>
                    <div>Present</div>
                    <div>9:00 am</div>
                    <div>5:00 pm</div>
                    <div>0</div>
                  </div>
                  <div class="tbody" id="tbody">
                    <div>05/25/2024</div>
                    <div>Jefferson Garcia</div>
                    <div>Present</div>
                    <div>9:00 am</div>
                    <div>5:00 pm</div>
                    <div>0</div>
                  </div>
                  <div class="tbody" id="tbody">
                    <div>05/25/2024</div>
                    <div>Jefferson Garcia</div>
                    <div>Present</div>
                    <div>9:00 am</div>
                    <div>5:00 pm</div>
                    <div>0</div>
                  </div>
                  <div class="tbody" id="tbody">
                    <div>05/25/2024</div>
                    <div>Jefferson Garcia</div>
                    <div>Present</div>
                    <div>9:00 am</div>
                    <div>5:00 pm</div>
                    <div>0</div>
                  </div>
              </div>
            </div>
          </div>
    </div>
</body>
</html>