<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    .navbar {
      border-radius: 6px;
      background: #fff;
      height: 80px;
      width: 100%;
      display: grid;
      grid-template-columns: 50% 20% 5% 15% 10%;
    }
    .title {
      padding: 1rem;
      display: flex;
      font-family: "Montserrat", sans-serif;

      align-items: center;
    }
    .search-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .search--box {
      background: #eff0f2;
      border-radius: 15px;
      color: #8ad3ff;
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 4px 12px;
    }
    .search--box input {
      border: none;
      background: none;
      padding: 10px;
      outline: none;
    }
    .search--box i {
      font-size: 1.2rem;
      cursor: pointer;
      transition: all 0.5s ease-out;
    }
    .search--box i:hover {
      transform: scale(1.2);
    }

    .icon-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      font-size: 20px;
      color: #8ad3ff !important;
    }
    .icon-container a {
      color: #6fbeee !important;
    }
    .name-container {
      font-family: "Montserrat", sans-serif;
      padding: 1rem;
      position: relative;
    }
    .name-position {
      display: flex;
      justify-content: right;
      flex-direction: column;
      position: absolute;
      right: 0;
    }
    .name-position h3 {
      font-weight: 500;
      font-size: 18px;
    }
    .name-position p {
      font-size: 14px;
      font-weight: 400;
    }
    .img-container {
      padding: 1rem;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .img-container .img-holder {
      border: 1px solid red;
      height: 100%;
      width: 50%;
      border-radius: 50%;
    }
  </style>
  <body>
    <nav class="navbar">
      <div class="title"><h3>Dashboard</h3></div>
      <div class="search-container">
        <div class="search--box">
          <i class="fa-solid fa-magnifying-glass"></i>
          <input type="text" placeholder="Search" id="myInput" />
        </div>
      </div>
      <div class="icon-container">
        <a href="#"><i class="fa-solid fa-message"></i></a>
        <a href="#"><i class="fa-solid fa-bell"></i></a>
      </div>
      <div class="name-container">
        <div class="name-position">
          <h3>Jefferson Garcia</h3>
          <p>Intern</p>
        </div>
      </div>
      <div class="img-container">
        <div class="img-holder">
          <img src="" alt="" />
        </div>
      </div>
    </nav>
  </body>
</html>
