<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Summary</title>
    <link rel="stylesheet" href="/css/intern/internSummary.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body>
    <%- include("../partials/internSidebar") %>
    <div class="main--container">
      <div class="first-content">
        <%- include("../partials/internNav") %>
        <div class="table-container">
          <div class="table">
            <div class="head">
              <div>Date</div>
              <div>Time in</div>
              <div>Time Out</div>
              <div>Overtime</div>
              <div>Task Update</div>
            </div>

            <div class="body-container">
              <div class="tbody" id="tbody">
                <div>05/25/2024</div>
                <div>9:00 am</div>
                <div>5:00 pm</div>
                <div>0</div>
                <div>
                  - Generated Breaking News - Posted Breaking News to FB and
                  Twitter - Scheduled Assets on TikTok - Updated the clinics on
                  the Luminous Website - Emailed clinics in Thailand - Taught
                  Ann about scheduling assets and how to edit in Mmaster
                  websites - Searched for accreditation agencies - Taught Ann
                  and James how to add clinics to the Luminous Websites -
                  Searched for necessary information for 2 clinics - Designed
                  banners and logos for websites - Added Clinic Expert hospitals
                  to websites - Added Clinic Expert Dental to websites
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
