@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  display: flex;
}

/*-----------------sidebar-----------------*/

.side-container {
  min-width: 250px;
  height: 100vh;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

.logo-container {
  height: 10%;
  width: 100%;
}

/* .logo-container img{
    height: 100%;
    width: 100%;
} */

.link-container {
  height: 90%;
  padding-top: 3.7rem;
}

.menu {
  height: 100%;
  position: relative;
  padding: 1.5rem;
}
.menu li {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  margin-top: 1rem;
  overflow: hidden;
}
.menu li:hover {
  background: linear-gradient(to right, rgb(10, 108, 205), rgb(93, 218, 243));
  color: white;
}

.menu li a {
  display: flex;
  gap: 0.7rem;
  width: 100%;
  height: 100%;
  color: #8a8a8a;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.logout {
  position: absolute;
  bottom: 15px;
  left: 20px;
  width: 200px;
  border-top: 1px solid gray;
  border-radius: 0 !important;
}

/* active link*/

.dashboard {
  background: linear-gradient(to right, rgb(10, 108, 205), rgb(93, 218, 243));
}
.dashboard a {
  color: white !important;
}

/* main content*/

.main-content {
  padding: 1rem;
  width: 100%;
  background: #eff0f2;
}

.navbar {
  height: 80px;
  display: grid;
  grid-template-columns: 50% 20% 5% 15% 10%;
}
.title {
  padding: 1rem;
  display: flex;
  font-family: "Montserrat", sans-serif;

  align-items: center;
}
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search--box {
  background: #fff;
  border-radius: 15px;
  color: #8ad3ff;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 4px 12px;
}
.search--box input {
  border: none;
  background: none;
  padding: 10px;
  outline: none;
}
.search--box i {
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.search--box i:hover {
  transform: scale(1.2);
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 20px;
  color: #8ad3ff !important;
}
.icon-container a {
  color: #6fbeee !important;
}
.name-container {
  font-family: "Montserrat", sans-serif;
  padding: 1rem;
  position: relative;
}
.name-position {
  display: flex;
  justify-content: right;
  flex-direction: column;
  position: absolute;
  right: 0;
}
.name-position h3 {
  font-weight: 500;
  font-size: 18px;
}
.name-position p {
  font-size: 14px;
  font-weight: 400;
}
.img-container {
  padding: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-container .img-holder {
  border: 1px solid red;
  height: 100%;
  width: 50%;
  border-radius: 50%;
}


